.header--title {
  font-size: 2.25rem;
  background: linear-gradient(90.41deg, #261f8d 1.14%, #4218da 100%);
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
}

.meme-image {
  max-width: 100%;
  max-height: 800px;
}

.formInput {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

.meme {
  position: relative;
}

.memeText {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
