* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: linear-gradient(90.41deg, #261f8d 1.14%, #4218da 100%);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
}
